@use "../../../styles/base/variables" as var;

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  // Mobile default
  background-image: url("/src/assets/images/hero/hero-bg-mobile.jpg");

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url("/src/assets/images/hero/hero-bg-mobile@2x.jpg");
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    background-image: url("/src/assets/images/hero/hero-bg-tablet.jpg");

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("/src/assets/images/hero/hero-bg-tablet@2x.jpg");
    }
  }

  @media (min-width: 1024px) {
    background-image: url("/src/assets/images/hero/hero-bg-desktop.jpg");

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url("/src/assets/images/hero/hero-bg-desktop@2x.jpg");
    }
  }
}

.hero__container {
  padding-inline: var.$section-padding-sides;
  padding-top: 247px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__logo {
  width: var.$logo-width;
  margin-bottom: 21px;
}

.hero__headline {
  color: var.$color-neutral;
  margin-bottom: 21px;
  text-align: center;
}

.hero__text {
  color: var.$color-neutral;
  text-align: center;
  margin-bottom: 53px;
}

.hero__cta {
  color: var.$color-neutral;
  padding: 1.5625rem 3.4375rem;
  border: 1px solid var.$color-neutral;
  margin-bottom: 152px;
}

@media screen and (min-width: 768px) {
  .hero__logo {
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__container {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 65px;
  }

  .hero__logo {
    margin-bottom: 135px;
  }

  .hero__headline,
  .hero__text {
    text-align: start;
  }

  .hero__text {
    max-width: 445px;
    text-align: left;
  }
}
