@use "../../../styles/base/variables" as var;
@use "../../../styles/base/utilities" as util;

.events {
  background-color: var.$light-background;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: var.$section-padding-sides;
    padding-top: 78px;
    padding-bottom: 124px;
  }

  &__image {
    margin-bottom: 51px;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 27px;
  }

  &__tab {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: var.$color-neutral-dark;
    transition: color 0.3s ease;

    &:hover {
      color: var.$color-neutral-darker;
    }

    &--active {
      color: var.$color-neutral-darker;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        height: 1px;
        background-color: var.$color-beaver;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: var.$color-ebony-clay;
    margin-bottom: 13px;
  }

  &__description {
    color: var.$color-ebony-clay;
    text-align: center;
    margin-bottom: 27px;
  }

  &__button {
    color: var.$color-neutral;
    background-color: var.$color-cod-gray;
    padding: 1.5625rem 3.4375rem;
    border: 1px solid var.$color-neutral;
  }
}

@media (min-width: 678px) {
  .events {
    &__tabs {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      margin-bottom: 55px;
    }

    &__content {
      width: 100%;
    }

    &__description {
      width: 457px;
    }
  }
}

@media (min-width: 1440px) {
  .events {
    &__container {
      flex-direction: row;
      align-items: center;
      gap: 125px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

    &__tabs {
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      order: 2;
    }

    &__details {
      align-items: flex-start;
      order: 1;
    }

    &__description {
      text-align: start;
      margin-bottom: 60px;
    }

    &__image {
      margin-bottom: 0;
      flex-shrink: 0;
    }
  }
}
