@use "../../../styles/base/variables" as var;
@use "../../../styles/base/utilities" as util;

.footer {
  background: var.$color-cod-gray;
  color: var.$color-neutral;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var.$section-padding-sides;
  padding-top: 80px;
  padding-bottom: 78px;
}

.footer__logo {
  margin-bottom: 42px;
}

.footer__address,
.footer__open-times {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.footer__address {
  margin-bottom: 32px;
}

.footer__open-times h4 {
  font-weight: var.$font-weight-regular;
}

@media (min-width: 678px) {
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
    gap: 130px;
  }

  .footer__address,
  .footer__open-times {
    align-items: flex-start;
  }
}

@media (min-width: 1440px) {
  .footer__info {
    display: flex;
    gap: 124px;
  }
}

