@use "../../../styles/base/variables" as var;

input,
select {
  border: none;
  border-bottom: 1px solid var.$color-neutral-500;
  padding: 14px 0;
  padding-left: 16px;
  background-color: transparent;
}

#res-name,
#res-email {
  width: 100%;
}

input:not(#res-name, #res-email) {
  max-width: 73px;
  margin-right: 14px;
}

#res-email {
  margin-bottom: 34px;
}

.reservation {
  padding-inline: var.$section-padding-sides;
  background-color: var.$light-background;
  max-height: 515px;

  &__container {
    padding: 32px;
    background-color: var.$color-neutral;
    position: relative;
    top: -180px;
    max-width: 540px;
    margin-inline: auto;
  }

  &__group {
    border: none;
    margin-bottom: 35px;
  }

  &__date,
  &__time {
    display: flex;
  }

  &__label {
    padding-bottom: 14px;
  }

  &__control {
    width: 5px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    // This removes the outline on click and adds a custom one for keyboard focus
    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px solid var.$color-neutral-500;
      outline-offset: 2px;
    }

    &--minus {
      background-image: url("/src/assets/images/reservation/icon-minus.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &--plus {
      background-image: url("/src/assets/images/reservation/icon-plus.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__people {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var.$color-neutral-500;
    padding-bottom: 16px;
    margin-bottom: 32px;
    padding-inline: 20px;
    font-size: var.$font-size-lg;
    font-weight: var.$font-weight-bold;
  }

  &__submit {
    color: var.$color-neutral;
    background-color: var.$color-cod-gray;
    padding: 1.5625rem 3.4375rem;
    border: 1px solid var.$color-neutral;
    width: 100%;
  }

  // Media queries
  @media (min-width: 768px) {
    &__group {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      // We also need to remove the top padding on the label at this breakpoint
      & > .reservation__label {
        padding-bottom: 0;
      }
    }
  }

  @media (min-width: 1440px) {
    &__container {
      top: -400px;
      right: -280px;
    }
  }
}

#res-ampm {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/src/assets/images/reservation/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 8px;
  padding-right: 2.5rem;
  padding-bottom: 10px;
}

// Global styles for inputs
.reservation input[type="text"]:focus,
.reservation input[type="text"]:active,
.reservation input[type="text"]:hover,
.reservation input[type="email"]:focus,
.reservation input[type="email"]:active,
.reservation input[type="email"]:hover,
.reservation select:focus,
.reservation select:active,
.reservation select:hover {
  outline: none;
  box-shadow: none;
}

@media (min-width: 1440px) {
  .reservation {
    max-height: 320px;
  }
}
