// Body layout
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

// Anchor tags
a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

//Paragraphs
p {
  max-width: 65ch;
}

// Buttons (baseline style)
button {
  cursor: pointer;
  border: none;
  background: none;
  text-transform: uppercase;
}

// Media elements
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
