// Body layout
body {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: $color-mirage;
  color: $color-shuttle-gray;
}

// Anchor tags
a {
  text-decoration: none;
  color: inherit;
}

// Buttons (baseline style)
button {
  cursor: pointer;
  border: none;
  background: none;
}

// Media elements
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
