// Box-sizing & universal reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Font smoothing
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Form elements inherit font
input,
button,
textarea,
select {
  font: inherit;
}

// Text elements
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Lists
ul,
ol {
  list-style: none;
}
